body{
  background-color: darkslategray
}

h1{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

p{
  font-size: medium;
}